/* Layout.css */
.mainlayout {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-rows: 1fr auto 15vh;
    min-height: 100vh;
  }
  
  header {
    grid-area: header;
    border: 1px solid rebeccapurple;
  }
  
  main {
    grid-area: main;
    min-height: 85vh;
  }
  
  footer {
    grid-area: footer;
    background-color: #333;
  }
  