.aboutContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.description{
    padding: 30px;
}
.info{
    padding: 30px;
}
.expertise{
    padding: 30px;
}

@media (max-width: 768px) {
    .aboutContainer {
      grid-template-columns: 1fr;
    }
}