.aboutContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.description{
    padding: 10px;
}
.personalInfo{
    padding: 10px;
}
.info {
    color: #6c757d !important;
    font-size: 14px !important;
}
.infoSpan{
    font-weight: 600;
    font-size: 14px;
    color: #343a40;
}
.expertise{
    padding: 10px;
}

.aboutP {
    font-size: calc(13px + (14 - 13) * ((100vw - 300px)/ (1300 - 300)));
    opacity: .8;
    color: #444;
}

@media (max-width: 768px) {
    .aboutContainer {
      grid-template-columns: 1fr;
    }
}