/* ProjectCard.css */

.project-link {
  text-decoration: none;
}

.project-card {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 100%;
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0;
}

.project-card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
